<header id="header404">
      <h1>Oops 404</h1>
      <h2><a href="index.html">Portfolio</a></h2>
      <nav>
            <ul>
                  <li><a href="portfolioFotografie.html">Fotografie</a></li>
                  <li><a href="portfolioPhotoshop.html">Photoshop</a></li>
                  <li><a href="portfolioDesign.html">Design</a></li>
                  <li><a href="portfolioC4D.html">Cinema 4D</a></li>
                  <li><a href="portfolioWebsites.html">Websites</a></li>
                  <li><a href="portfolioVideos.html">Video's</a></li>
                  <li><a href="contact.html">Contact</a></li>
            </ul>
      </nav>
</header>
<main id="main404">
      <p>
            Oops, de pagina die je zocht kan niet weergegeven worden. Wellicht is de pagina nog in opbouw, of maakte u een foutje bij het intypen van de URL.<br><br>Mijn excuses voor het ongemak en bedankt voor uw begrip!
      </p>
</main>
