<!doctype html>
<html>
	<head>
		<title>Portfolio Eva Lasters</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" type="text/css" href="assets/stylesheets/reset.css">
		<link rel="stylesheet" type="text/css" href="assets/stylesheets/application.css">
		<link rel="shortcut icon" href="assets/Fotos/Fotografie/Fotografie(15).jpg"/>
		<link href="https://fonts.googleapis.com/css?family=Dosis:300,500" rel="stylesheet">
	</head>
	<body>
       	<%- yield %>
	      <footer>
							<a href="https://www.facebook.com/EvaLastersDesign/"><img src="assets/Fotos/Contact/Facebook.png" alt="contact_facebook"></a>
							<a href="mailto:eva.lasters@student.ap.be"><img src="assets/Fotos/Contact/Mail.png" alt="contact_mail"></a>
							<a href="https://www.youtube.com/channel/UCS0MUaPuXzBRm3j_CdC58lQ/videos"><img src="assets/Fotos/Contact/Youtube.png" alt="contact_youtube"></a>
							<a href="https://www.docdroid.net/cwKgnPl/cv.pdf"><img src="assets/Fotos/Contact/CV.png" alt="contact_cv"></a>
	      </footer>
	</body>
</html>
