<header id="contactheader">
      <h1>Contact</h1>
      <h2><a href="index.html">Portfolio</a></h2>
      <nav>
            <ul>
                  <li><a href="portfolioFotografie.html">Fotografie</a></li>
                  <li><a href="portfolioPhotoshop.html">Photoshop</a></li>
                  <li><a href="portfolioDesign.html">Design</a></li>
                  <li><a href="portfolioC4D.html">Cinema 4D</a></li>
                  <li><a href="portfolioWebsites.html">Websites</a></li>
                  <li><a href="portfolioVideos.html">Video's</a></li>
                  <li><a href="contact.html">Contact</a></li>
            </ul>
      </nav>
</header>
<main id="contactmain">
  Nog in opbouw
</main>
