<main class="indexmain">
      <div id="wrapper">
        <!-- Slideshow 3 -->
        <ul class="rslides" id="slider3">
          <li><img src="assets/Fotos/C4D(6).jpg" alt=""><p class="caption"><a href="portfolioC4D.html">Portfolio Cinema 4D</a></p></li>
          <li><img src="assets/Fotos/Illustrator(37).jpg" alt=""><p class="caption"><a href="portfolioIllustrator.html">Portfolio Illustrator</a></p></li>
          <li><img src="assets/Fotos/Fotografie(19).jpg" alt=""><p class="caption"><a href="portfolioFotografie.html">Portfolio Fotografie</a></p></li>
          <li><img src="assets/Fotos/Photoshop(13).jpg" alt=""><p class="caption"><a href="portfolioPhotoshop.html">Portfolio Photoshop</a></p></li>
          <li><img src="assets/Fotos/Website(8).jpg" alt=""><p class="caption"><a href="portfolioWebsites.html">Portfolio Websites</a></p></li>
          <li><img src="assets/Fotos/C4D(10).jpg" alt=""><p class="caption"><a href="portfolioC4D.html">Portfolio Cinema 4D</a></p></li>
          <li><img src="assets/Fotos/Illustrator(1).jpg" alt=""><p class="caption"><a href="portfolioIllustrator.html">Portfolio Illustrator</a></p></li>
          <li><img src="assets/Fotos/Fotografie(16).jpg" alt=""><p class="caption"><a href="portfolioFotografie.html">Portfolio Fotografie</a></p></li>
          <li><img src="assets/Fotos/Photoshop(12).jpg" alt=""><p class="caption"><a href="portfolioPhotoshop.html">Portfolio Photoshop</a></p></li>
          <li><img src="assets/Fotos/Website(2).jpg" alt=""><p class="caption"><a href="portfolioWebsites.html">Portfolio Websites</a></p></li>
        </ul>

        <!-- Slideshow 3 Pager -->
        <ul id="slider3-pager">
          <li><a href="#"><img src="assets/Fotos/C4D(6).jpg" alt=""></a></li>
          <li><a href="#"><img src="assets/Fotos/Illustrator(37).jpg" alt=""></a></li>
          <li><a href="#"><img src="assets/Fotos/Fotografie(19).jpg" alt=""></a></li>
          <li><a href="#"><img src="assets/Fotos/Photoshop(slider1).jpg" alt=""></a></li>
          <li><a href="#"><img src="assets/Fotos/Website(8).jpg" alt=""></a></li>
          <li><a href="#"><img src="assets/Fotos/C4D(10).jpg" alt=""></a></li>
          <li><a href="#"><img src="assets/Fotos/Illustrator(1).jpg" alt=""></a></li>
          <li><a href="#"><img src="assets/Fotos/Fotografie(16).jpg" alt=""></a></li>
          <li><a href="#"><img src="assets/Fotos/Photoshop(slider2).jpg" alt=""></a></li>
          <li><a href="#"><img src="assets/Fotos/Website(2).jpg" alt=""></a></li>
        </ul>
</div>
</main>
