<header id="indexheader">
      <h1><a href="index.html">Eva Lasters</a></h1>
      <h2><a href="index.html">Portfolio</a></h2>
</header>
<main id="indexmain">
      <div id="fotonavigatie">
            <div class="hovergrijs"><a href="portfolioFotografie.html"><img src="assets/Fotos/Fotonavigatie/Fotografie.jpg"><p>Fotografie</p></a></div>
            <div class="hovergrijs"><a href="portfolioPhotoshop.html"><img src="assets/Fotos/Fotonavigatie/Photoshop.jpg"><p>Photoshop</p></a></div>
            <div class="hovergrijs"><a href="portfolioDesign.html"><img src="assets/Fotos/Fotonavigatie/Design.jpg"><p>Design</p></a></div>
            <div class="hovergrijs"><a href="portfolioC4D.html"><img src="assets/Fotos/Fotonavigatie/C4D.jpg"><p>Cinema 4D</p></a></div>
            <div class="hovergrijs"><a href="portfolioWebsites.html"><img src="assets/Fotos/Fotonavigatie/Websites.jpg"><p>Websites</p></a></div>
            <div class="hovergrijs"><a href="portfolioVideos.html"><img src="assets/Fotos/Fotonavigatie/Videos.jpg"><p>Video's</p></a></div>
      </div>
</main>
