<header id="indexheader">
      <h1><a href="index.html">Eva Lasters</a></h1>
      <h2><a href="index.html">Portfolio</a></h2>
</header>
<main id="indexmain">
      <div id="fotonavigatie">
            <div class="hovergrijs"><a href="portfolioFotografie.html"><img src="assets/Fotos/Fotonavigatie/Fotografie.jpg" alt="fotonavigatie_fotografie"><p>Fotografie</p></a></div>
            <div class="hovergrijs"><a href="portfolioPhotoshop.html"><img src="assets/Fotos/Fotonavigatie/Photoshop.jpg" alt="fotonavigatie_photoshop"><p>Photoshop</p></a></div>
            <div class="hovergrijs"><a href="portfolioDesign.html"><img src="assets/Fotos/Fotonavigatie/Design.jpg" alt="fotonavigatie_design"><p>Design</p></a></div>
            <div class="hovergrijs"><a href="portfolioC4D.html"><img src="assets/Fotos/Fotonavigatie/C4D.jpg" alt="fotonavigatie_C4D"><p>Cinema 4D</p></a></div>
            <div class="hovergrijs"><a href="portfolioWebsites.html"><img src="assets/Fotos/Fotonavigatie/Websites.jpg" alt="fotonavigatie_websites"><p>Websites</p></a></div>
            <div class="hovergrijs"><a href="portfolioVideos.html"><img src="assets/Fotos/Fotonavigatie/Videos.jpg" alt="fotonavigatie_videos"><p>Video's</p></a></div>

            <div class="hovergrijs2"><a href="contact.html"><p>Contact</p></a></div>      </div>
</main>
