<header id="websitesheader">
      <h1>Websites</h1>
      <h2><a href="index.html">Portfolio</a></h2>
      <nav>
            <ul>
                  <li><a href="portfolioFotografie.html">Fotografie</a></li>
                  <li><a href="portfolioPhotoshop.html">Photoshop</a></li>
                  <li><a href="portfolioDesign.html">Design</a></li>
                  <li><a href="portfolioC4D.html">Cinema 4D</a></li>
                  <li><a href="portfolioWebsites.html">Websites</a></li>
                  <li><a href="portfolioVideos.html">Video's</a></li>
            </ul>
      </nav>
</header>
<main id="websitemain">
  <div class="websitegrid">
    <div class="element-item" data-category="transition">
        <a href="404.html"><img src="assets/Fotos/Websites/Website(1).jpg"></a>
    </div>
    <div class="element-item" data-category="transition">
        <a href="404.html"><img src="assets/Fotos/Websites/Website(2).jpg"></a>
    </div>
    <div class="element-item" data-category="transition">
        <a href="404.html"><img src="assets/Fotos/Websites/Website(3).jpg"></a>
    </div>
    <div class="element-item" data-category="transition">
        <a href="404.html"><img src="assets/Fotos/Websites/Website(4).jpg"></a>
    </div>
    <div class="element-item" data-category="transition">
        <a href="404.html"><img src="assets/Fotos/Websites/Website(9).jpg"></a>
    </div>
    <div class="element-item" data-category="transition">
        <a href="404.html"><img src="assets/Fotos/Websites/Website(10).jpg"></a>
    </div>
    <div class="element-item" data-category="transition">
        <a href="404.html"><img src="assets/Fotos/Websites/Website(11).jpg"></a>
    </div>
    <div class="element-item" data-category="transition">
        <a href="404.html"><img src="assets/Fotos/Websites/Website(12).jpg"></a>
    </div>
    <div class="element-item" data-category="transition">
        <a href="https://evalastersstudent.github.io/Top10SongsBelgium/"><img src="assets/Fotos/Websites/Website(5).jpg"></a>
    </div>
    <div class="element-item" data-category="transition">
        <a href="404.html"><img src="assets/Fotos/Websites/Website(6).jpg"></a>
    </div>
    <div class="element-item" data-category="transition">
        <a href="https://codepen.io/evalasters/full/pRoKmQ/"><img src="assets/Fotos/Websites/Website(7).jpg"></a>
    </div>
    <div class="element-item" data-category="transition">
        <a href="404.html"><img src="assets/Fotos/Websites/Website(8).jpg"></a>
    </div>
    <div class="element-item" data-category="transition">
        <a href="https://codepen.io/evalasters/full/bgGqGX/"><img src="assets/Fotos/Websites/Website(13).jpg"></a>
    </div>
    <div class="element-item" data-category="transition">
        <a href="404.html"><img src="assets/Fotos/Websites/Website(14).jpg"></a>
    </div>
    <div class="element-item" data-category="transition">
        <a href="https://evalastersstudent.github.io/Nieuwjaarsbrief/"><img src="assets/Fotos/Websites/Website(15).jpg"></a>
    </div>
    <div class="element-item" data-category="transition">
        <a href="https://evalastersstudent.github.io/FeedbackFlamingo/"><img src="assets/Fotos/Websites/Website(16).jpg"></a>
    </div>
  </div>
</main>
