<header id="photoshopheader">
      <h1>Photoshop</h1>
      <h2><a href="index.html">Portfolio</a></h2>
      <nav>
            <ul>
                  <li><a href="portfolioFotografie.html">Fotografie</a></li>
                  <li><a href="portfolioPhotoshop.html">Photoshop</a></li>
                  <li><a href="portfolioDesign.html">Design</a></li>
                  <li><a href="portfolioC4D.html">Cinema 4D</a></li>
                  <li><a href="portfolioWebsites.html">Websites</a></li>
                  <li><a href="portfolioVideos.html">Video's</a></li>
            </ul>
      </nav>
</header>
<main id="photoshopmain">
  <div class="photoshopgrid">
    <div class="element-item" data-category="transition">
        <img src="assets/Fotos/Photoshop/Photoshop1.jpg" alt="potloden">
    </div>
    <div class="element-item" data-category="transition">
        <img src="assets/Fotos/Photoshop/Photoshop2.jpg" alt="ha_daar_gaat_er_een_van_mij">
    </div>
    <div class="element-item" data-category="transition">
        <img src="assets/Fotos/Photoshop/Photoshop3.jpg" alt="freedom">
    </div>
    <div class="element-item" data-category="transition">
        <img src="assets/Fotos/Photoshop/Photoshop4.jpg" alt="olifanten">
    </div>
    <div class="element-item" data-category="transition">
        <img src="assets/Fotos/Photoshop/Photoshop5.jpg" alt="johnny_depp_1">
    </div>
    <div class="element-item" data-category="transition">
        <img src="assets/Fotos/Photoshop/Photoshop6.jpg" alt="prinsessenjurk">
    </div>
    <div class="element-item" data-category="transition">
        <img src="assets/Fotos/Photoshop/Photoshop7.jpg" alt="thailand">
    </div>
    <div class="element-item" data-category="transition">
        <img src="assets/Fotos/Photoshop/Photoshop8.jpg" alt="johnny_depp_2">
    </div>
    <div class="element-item" data-category="transition">
        <img src="assets/Fotos/Photoshop/Photoshop9.jpg" alt="summer_vibes">
    </div>
    <div class="element-item" data-category="transition">
        <img src="assets/Fotos/Photoshop/Photoshop10.jpg" alt="xxx">
    </div>
    <div class="element-item" data-category="transition">
        <img src="assets/Fotos/Photoshop/Photoshop11.jpg" alt="johnny_depp_3">
    </div>
    <div class="element-item" data-category="transition">
        <img src="assets/Fotos/Photoshop/Photoshop12.jpg" alt="bruiloft_1">
    </div>
    <div class="element-item" data-category="transition">
        <img src="assets/Fotos/Photoshop/Photoshop13.jpg" alt="bruiloft_2">
    </div>
    <div class="element-item" data-category="transition">
        <img src="assets/Fotos/Photoshop/Photoshop14.jpg" alt="strand">
    </div>
    <div class="element-item" data-category="transition">
        <img src="assets/Fotos/Photoshop/Photoshop15.jpg" alt="jump">
    </div>
    <div class="element-item" data-category="transition">
        <img src="assets/Fotos/Photoshop/Photoshop16.jpg" alt="neel">
    </div>
    <div class="element-item" data-category="transition">
        <img src="assets/Fotos/Photoshop/Photoshop17.jpg" alt="pignijn">
    </div>
    <div class="element-item" data-category="transition">
        <img src="assets/Fotos/Photoshop/Photoshop18.jpg" alt="ralk">
    </div>
    <div class="element-item" data-category="transition">
        <img src="assets/Fotos/Photoshop/Photoshop19.jpg" alt="flamingos">
    </div>
    <div class="element-item" data-category="transition">
        <img src="assets/Fotos/Photoshop/Photoshop20.jpg" alt="turnster">
    </div>
    <div class="element-item" data-category="transition">
        <img src="assets/Fotos/Photoshop/Photoshop21.jpg" alt="the_occupants">
    </div>
    <div class="element-item" data-category="transition">
        <img src="assets/Fotos/Photoshop/Photoshop22.jpg" alt="zebra">
    </div>
    <div class="element-item" data-category="transition">
        <img src="assets/Fotos/Photoshop/Photoshop23.jpg" alt="vrouw">
    </div>
    <div class="element-item" data-category="transition">
        <img src="assets/Fotos/Photoshop/Photoshop24.jpg" alt="4_seizoenen">
    </div>
    <div class="element-item" data-category="transition">
        <img src="assets/Fotos/Photoshop/Photoshop25.jpg" alt="meisje_in_cmyk">
    </div>
  </div>
</main>
