<header id="videosheader">
      <h1>Video's</h1>
      <h2><a href="index.html">Portfolio</a></h2>
      <nav>
            <ul>
                  <li><a href="portfolioFotografie.html">Fotografie</a></li>
                  <li><a href="portfolioPhotoshop.html">Photoshop</a></li>
                  <li><a href="portfolioDesign.html">Design</a></li>
                  <li><a href="portfolioC4D.html">Cinema 4D</a></li>
                  <li><a href="portfolioWebsites.html">Websites</a></li>
                  <li><a href="portfolioVideos.html">Video's</a></li>
                  <li><a href="contact.html">Contact</a></li>
            </ul>
      </nav>
</header>
<main id="videosmain">
  <div class="videosgrid">
    <div class="element-item" data-category="transition">
        <a href="https://youtu.be/6PhimtO6J70"><img src="assets/Fotos/Video/Video1.jpg" alt="lays"></a>
    </div>
    <div class="element-item" data-category="transition">
        <a href="https://youtu.be/vB_vmB31Efs"><img src="assets/Fotos/Video/Video2.jpg" alt="pkp_17"></a>
    </div>
    <div class="element-item" data-category="transition">
        <a href="https://youtu.be/cjToBuS6Vz8"><img src="assets/Fotos/Video/Video3.jpg" alt="bedrijfsfilm"></a>
    </div>
    <div class="element-item" data-category="transition">
        <a href="https://youtu.be/K4FW1i6czHM"><img src="assets/Fotos/Video/Video4.jpg" alt="bumba_wekker"></a>
    </div>
    <div class="element-item" data-category="transition">
        <a href="https://youtu.be/q1f8PhhhA3U"><img src="assets/Fotos/Video/Video5.jpg" alt="instructie_video"></a>
    </div>
    <div class="element-item" data-category="transition">
        <a href="https://youtu.be/vhFqkOMWd6Q"><img src="assets/Fotos/Video/Video6.jpg" alt="pina_colada"></a>
    </div>
    <div class="element-item" data-category="transition">
        <a href="https://youtu.be/s6yfpXOrXtk"><img src="assets/Fotos/Video/Video7.jpg" alt="sob"></a>
    </div>
    <div class="element-item" data-category="transition">
        <a href="https://youtu.be/7KwqgDTD7dk"><img src="assets/Fotos/Video/Video8.jpg" alt="mario-vs-luigi"></a>
    </div>
    <div class="element-item" data-category="transition">
        <a href="https://youtu.be/xSrIlRj5VyU"><img src="assets/Fotos/Video/Video9.jpg" alt="the_kite_runner"></a>
    </div>XkgPY0
    <div class="element-item" data-category="transition">
        <a href="https://youtu.be/do5-Xk_IlAQ"><img src="assets/Fotos/Video/Video10.jpg" alt="youtube_intro"></a>
    </div>
    <div class="element-item" data-category="transition">
        <a href="https://youtu.be/DcEu7"><img src="assets/Fotos/Video/Video11.jpg" alt="zwemmende_Pooh_Bear"></a>
    </div>
  </div>
</main>
