<main class="websitemain">
      <div class="grid">
            <div class="grid-item"><a href="assets/Websites/Creativebeat/creativebeat.html"><img src="assets/Fotos/Website(1).jpg"></a></div>
            <div class="grid-item"><a href="assets/Websites/Hairequipe/Homepage.html"><img src="assets/Fotos/Website(2).jpg"></a></div>
            <div class="grid-item grid-item--width2"><a href="assets/Websites/DeLeuksteGedichten/deleukstegedichten.html"><img src="assets/Fotos/Website(3).jpg"></a></div>
            <div class="grid-item"><a href="assets/Websites/Rekenmachine/Oefening2.html"><img src="assets/Fotos/Website(4).jpg"></a></div>
            <div class="grid-item grid-item--width2"><a href="assets/Websites/PortfolioPaars/Kluis.html"><img src="assets/Fotos/Website(5).jpg"></a></div>
            <div class="grid-item"><a href="assets/Websites/Travelbird/Oefening3.html"><img src="assets/Fotos/Website(6).jpg"></a></div>
            <div class="grid-item grid-item--width2"><a href="assets/Websites/Kluis/Kluis.html"><img src="assets/Fotos/Website(7).jpg"></a></div>
            <div class="grid-item"><a href="assets/Websites/Eames/Eames.html"><img src="assets/Fotos/Website(8).jpg"></a></div>
            <div class="grid-item"><a href="assets/Websites/Voorbeeldexamen/Voorbeeldexamen.html"><img src="assets/Fotos/Website(9).jpg"></a></div>
            <div class="grid-item grid-item--width2"><a href="assets/Websites/PortfolioGroen/PortfolioWebsiteHome.html"><img src="assets/Fotos/Website(10).jpg"></a></div>
            <div class="grid-item grid-item--width2"><a href="assets/Websites/Nailart/Homepage.html"><img src="assets/Fotos/Website(11).jpg"></a></div>
            <div class="grid-item grid-item--width2"><a href="assets/Websites/Top10Songs/Homepage.html"><img src="assets/Fotos/Website(12).jpg"></a></div>
            <div class="grid-item grid-item--width2"><a href="assets/Websites/PresentatieCMT3/Index.html"><img src="assets/Fotos/Website(13).jpg"></a></div>
      </div>
</main>
