<header id="designheader">
      <h1>Design</h1>
      <h2><a href="index.html">Portfolio</a></h2>
      <nav>
            <ul>
                  <li><a href="portfolioFotografie.html">Fotografie</a></li>
                  <li><a href="portfolioPhotoshop.html">Photoshop</a></li>
                  <li><a href="portfolioDesign.html">Design</a></li>
                  <li><a href="portfolioC4D.html">Cinema 4D</a></li>
                  <li><a href="portfolioWebsites.html">Websites</a></li>
                  <li><a href="portfolioVideos.html">Video's</a></li>
            </ul>
      </nav>
</header>
<main id="designmain">
  <div class="designgrid">
    <div class="element-item" data-category="transition">
        <img src="assets/Fotos/Design/Design(1).jpg">
    </div>
    <div class="element-item" data-category="transition">
        <img src="assets/Fotos/Design/Design(2).jpg">
    </div>
    <div class="element-item" data-category="transition">
        <img src="assets/Fotos/Design/Design(3).jpg">
    </div>
    <div class="element-item" data-category="transition">
        <img src="assets/Fotos/Design/Design(4).jpg">
    </div>
    <div class="element-item" data-category="transition">
        <img src="assets/Fotos/Design/Design(5).jpg">
    </div>
    <div class="element-item" data-category="transition">
        <img src="assets/Fotos/Design/Design(6).jpg">
    </div>
    <div class="element-item" data-category="transition">
        <img src="assets/Fotos/Design/Design(7).jpg">
    </div>
    <div class="element-item" data-category="transition">
        <img src="assets/Fotos/Design/Design(8).jpg">
    </div>
    <div class="element-item" data-category="transition">
        <img src="assets/Fotos/Design/Design(9).jpg">
    </div>
    <div class="element-item" data-category="transition">
        <img src="assets/Fotos/Design/Design(10).jpg">
    </div>
    <div class="element-item" data-category="transition">
        <img src="assets/Fotos/Design/Design(11).jpg">
    </div>
    <div class="element-item" data-category="transition">
        <img src="assets/Fotos/Design/Design(12).jpg">
    </div>
    <div class="element-item" data-category="transition">
        <img src="assets/Fotos/Design/Design(13).jpg">
    </div>
    <div class="element-item" data-category="transition">
        <img src="assets/Fotos/Design/Design(14).jpg">
    </div>
    <div class="element-item" data-category="transition">
        <img src="assets/Fotos/Design/Design(15).jpg">
    </div>
    <div class="element-item" data-category="transition">
        <img src="assets/Fotos/Design/Design(16).jpg">
    </div>
    <div class="element-item" data-category="transition">
        <img src="assets/Fotos/Design/Design(17).jpg">
    </div>
    <div class="element-item" data-category="transition">
        <img src="assets/Fotos/Design/Design(18).png">
    </div>
  </div>
</main>
