<header id="fotografieheader">
      <h1>Fotografie</h1>
      <h2><a href="index.html">Portfolio</a></h2>
      <nav>
            <ul>
                  <li><a href="portfolioFotografie.html">Fotografie</a></li>
                  <li><a href="portfolioPhotoshop.html">Photoshop</a></li>
                  <li><a href="portfolioDesign.html">Design</a></li>
                  <li><a href="portfolioC4D.html">Cinema 4D</a></li>
                  <li><a href="portfolioWebsites.html">Websites</a></li>
                  <li><a href="portfolioVideos.html">Video's</a></li>
            </ul>
      </nav>
</header>
<main id="fotografiemain">
  <div class="fotografiegrid">
    <div class="element-item" data-category="transition">
        <img src="assets/Fotos/Fotografie/Fotografie(1).jpg" alt="zwembad_blaadje">
    </div>
    <div class="element-item" data-category="transition">
        <img src="assets/Fotos/Fotografie/Fotografie(2).jpg" alt="love">
    </div>
    <div class="element-item" data-category="transition">
        <img src="assets/Fotos/Fotografie/Fotografie(3).jpg" alt="ap_gebouw">
    </div>
    <div class="element-item" data-category="transition">
        <img src="assets/Fotos/Fotografie/Fotografie(4).jpg" alt="zonnebloem_verwelkt">
    </div>
    <div class="element-item" data-category="transition">
        <img src="assets/Fotos/Fotografie/Fotografie(5).jpg" alt="skipiste">
    </div>
    <div class="element-item" data-category="transition">
        <img src="assets/Fotos/Fotografie/Fotografie(6).jpg" alt="emma">
    </div>
    <div class="element-item" data-category="transition">
        <img src="assets/Fotos/Fotografie/Fotografie(7).jpg" alt="ice_tea">
    </div>
    <div class="element-item" data-category="transition">
        <img src="assets/Fotos/Fotografie/Fotografie(8).jpg" alt="bandiet">
    </div>
    <div class="element-item" data-category="transition">
        <img src="assets/Fotos/Fotografie/Fotografie(9).jpg" alt="blaadje">
    </div>
    <div class="element-item" data-category="transition">
        <img src="assets/Fotos/Fotografie/Fotografie(10).jpg" alt="sloefen">
    </div>
    <div class="element-item" data-category="transition">
        <img src="assets/Fotos/Fotografie/Fotografie(11).jpg" alt="gang_ap">
    </div>
    <div class="element-item" data-category="transition">
        <img src="assets/Fotos/Fotografie/Fotografie(12).jpg" alt="paardenbloem">
    </div>
    <div class="element-item" data-category="transition">
        <img src="assets/Fotos/Fotografie/Fotografie(13).jpg" alt="corsendonck">
    </div>
    <div class="element-item" data-category="transition">
        <img src="assets/Fotos/Fotografie/Fotografie(14).jpg" alt="kerststal">
    </div>
    <div class="element-item" data-category="transition">
        <img src="assets/Fotos/Fotografie/Fotografie(15).jpg" alt="miniatuur_hond">
    </div>
    <div class="element-item" data-category="transition">
        <img src="assets/Fotos/Fotografie/Fotografie(16).jpg" alt="dam">
    </div>
    <div class="element-item" data-category="transition">
        <img src="assets/Fotos/Fotografie/Fotografie(17).jpg" alt="lang_gras">
    </div>
    <div class="element-item" data-category="transition">
        <img src="assets/Fotos/Fotografie/Fotografie(18).jpg" alt="kort_gras">
    </div>
    <div class="element-item" data-category="transition">
        <img src="assets/Fotos/Fotografie/Fotografie(19).jpg" alt="kerk_arendonk">
    </div>
    <div class="element-item" data-category="transition">
        <img src="assets/Fotos/Fotografie/Fotografie(20).jpg" alt="bergen_1">
    </div>
    <div class="element-item" data-category="transition">
        <img src="assets/Fotos/Fotografie/Fotografie(21).jpg" alt="bergen_2">
    </div>
    <div class="element-item" data-category="transition">
        <img src="assets/Fotos/Fotografie/Fotografie(22).jpg" alt="gerbera">
    </div>
    <div class="element-item" data-category="transition">
        <img src="assets/Fotos/Fotografie/Fotografie(23).jpg" alt="placemat">
    </div>
    <div class="element-item" data-category="transition">
        <img src="assets/Fotos/Fotografie/Fotografie(24).jpg" alt="bier_tut">
    </div>
    <div class="element-item" data-category="transition">
        <img src="assets/Fotos/Fotografie/Fotografie(25).jpg" alt="neel">
    </div>
    <div class="element-item" data-category="transition">
        <img src="assets/Fotos/Fotografie/Fotografie(26).jpg" alt="schaduw_bomen">
    </div>
    <div class="element-item" data-category="transition">
        <img src="assets/Fotos/Fotografie/Fotografie(27).jpg" alt="roos">
    </div>
    <div class="element-item" data-category="transition">
        <img src="assets/Fotos/Fotografie/Fotografie(28).jpg" alt="miniatuur_graafmachine">
    </div>
    <div class="element-item" data-category="transition">
        <img src="assets/Fotos/Fotografie/Fotografie(29).jpg" alt="gang_ap">
    </div>
    <div class="element-item" data-category="transition">
        <img src="assets/Fotos/Fotografie/Fotografie(30).jpg" alt="emma">
    </div>
    <div class="element-item" data-category="transition">
        <img src="assets/Fotos/Fotografie/Fotografie(31).jpg" alt="bergen_3">
    </div>
    <div class="element-item" data-category="transition">
        <img src="assets/Fotos/Fotografie/Fotografie(32).jpg" alt="bergen_4">
    </div>
    <div class="element-item" data-category="transition">
        <img src="assets/Fotos/Fotografie/Fotografie(33).jpg" alt="bergen_5">
    </div>
    <div class="element-item" data-category="transition">
        <img src="assets/Fotos/Fotografie/Fotografie(34).jpg" alt="zuilen">
    </div>
    <div class="element-item" data-category="transition">
        <img src="assets/Fotos/Fotografie/Fotografie(35).jpg" alt="logo_olifant_1">
    </div>
    <div class="element-item" data-category="transition">
        <img src="assets/Fotos/Fotografie/Fotografie(36).jpg" alt="logo_olifant_1">
    </div>
    <div class="element-item" data-category="transition">
        <img src="assets/Fotos/Fotografie/Fotografie(37).jpg" alt="logo_olifant_1">
    </div>
    <div class="element-item" data-category="transition">
        <img src="assets/Fotos/Fotografie/Fotografie(38).jpg" alt="logo_olifant_1">
    </div>
  </div>
</main>
