<header id="websitesheader">
      <h1>Websites</h1>
      <h2><a href="index.html">Portfolio</a></h2>
      <nav>
            <ul>
                  <li><a href="portfolioFotografie.html">Fotografie</a></li>
                  <li><a href="portfolioPhotoshop.html">Photoshop</a></li>
                  <li><a href="portfolioDesign.html">Design</a></li>
                  <li><a href="portfolioC4D.html">Cinema 4D</a></li>
                  <li><a href="portfolioWebsites.html">Websites</a></li>
                  <li><a href="portfolioVideos.html">Video's</a></li>
                  <li><a href="contact.html">Contact</a></li>
            </ul>
      </nav>
</header>
<main id="websitemain">
  <div class="websitegrid">
    <div class="element-item" data-category="transition">
        <a href="https://evalastersstudent.github.io/FeedbackFlamingo/"><img src="assets/Fotos/Websites/Website16.jpg" alt="feedback_flamingo"></a>
    </div>
    <div class="element-item" data-category="transition">
        <a href="http://messageinabox.eu/"><img src="assets/Fotos/Websites/Website18.jpg" alt="message_in_a_box"></a>
    </div>
    <div class="element-item" data-category="transition">
        <a href="https://evalastersstudent.github.io/PresentatieCMT3/#/dia1"><img src="assets/Fotos/Websites/Website13.jpg" alt="crossmediatechnologie3"></a>
    </div>
    <div class="element-item" data-category="transition">
        <a href="https://evalastersstudent.github.io/Nieuwjaarsbrief/"><img src="assets/Fotos/Websites/Website15.jpg" alt="nieuwjaarsbrief"></a>
    </div>
    <div class="element-item" data-category="transition">
        <a href="https://evalastersstudent.github.io/Hairequipe/"><img src="assets/Fotos/Websites/Website1.jpg" alt="hairequipe"></a>
    </div>
    <div class="element-item" data-category="transition">
        <a href="https://evalastersstudent.github.io/Rekenmachine/"><img src="assets/Fotos/Websites/Website2.jpg" alt="rekenmachine"></a>
    </div>
    <div class="element-item" data-category="transition">
        <a href="https://evalastersstudent.github.io/PortfolioSlider/"><img src="assets/Fotos/Websites/Website3.jpg" alt="portfolio_slider"></a>
    </div>
    <div class="element-item" data-category="transition">
        <a href="https://evalastersstudent.github.io/Travelbird/"><img src="assets/Fotos/Websites/Website4.jpg" alt="travelbird"></a>
    </div>
    <div class="element-item" data-category="transition">
        <a href="https://evalastersstudent.github.io/Kluis/"><img src="assets/Fotos/Websites/Website9.jpg" alt="kluis"></a>
    </div>
    <div class="element-item" data-category="transition">
        <a href="https://evalastersstudent.github.io/DeLeuksteGedichten/"><img src="assets/Fotos/Websites/Website10.jpg" alt="de_leukste_gedichten"></a>
    </div>
    <div class="element-item" data-category="transition">
        <a href="https://evalastersstudent.github.io/Nailart/"><img src="assets/Fotos/Websites/Website11.jpg" alt="nagelstudio"></a>
    </div>
    <div class="element-item" data-category="transition">
        <a href="https://evalastersstudent.github.io/PortfolioGroen/"><img src="assets/Fotos/Websites/Website12.jpg" alt="portfolio_groen"></a>
    </div>
    <div class="element-item" data-category="transition">
        <a href="https://evalastersstudent.github.io/Top10SongsBelgium/"><img src="assets/Fotos/Websites/Website5.jpg" alt="songs"></a>
    </div>
    <div class="element-item" data-category="transition">
        <a href="https://evalastersstudent.github.io/Eames/"><img src="assets/Fotos/Websites/Website6.jpg" alt="eames"></a>
    </div>
    <div class="element-item" data-category="transition">
        <a href="https://evalastersstudent.github.io/Dragula/"><img src="assets/Fotos/Websites/Website7.jpg" alt="frans_leren"></a>
    </div>
    <div class="element-item" data-category="transition">
        <a href="https://evalastersstudent.github.io/Voorbeeldexamen/"><img src="assets/Fotos/Websites/Website8.jpg" alt="museum_stukken"></a>
    </div>
    <div class="element-item" data-category="transition">
        <a href="https://evalastersstudent.github.io/PortfolioPaars/"><img src="assets/Fotos/Websites/Website14.jpg" alt="portfolio_paars"></a>
    </div>
    <div class="element-item" data-category="transition">
        <a href="https://evalastersstudent.github.io/RailwaysConnect/#/dia1"><img src="assets/Fotos/Websites/Website17.jpg" alt="railways_connect"></a>
    </div>
  </div>
</main>
