<header id="websitesheader">
      <h1>Websites</h1>
      <h2><a href="index.html">Portfolio</a></h2>
      <nav>
            <ul>
                  <li><a href="portfolioFotografie.html">Fotografie</a></li>
                  <li><a href="portfolioPhotoshop.html">Photoshop</a></li>
                  <li><a href="portfolioDesign.html">Design</a></li>
                  <li><a href="portfolioC4D.html">Cinema 4D</a></li>
                  <li><a href="portfolioWebsites.html">Websites</a></li>
                  <li><a href="portfolioVideos.html">Video's</a></li>
            </ul>
      </nav>
</header>
<main id="websitemain">
  <div class="websitegrid">
    <div class="element-item" data-category="transition">
        <a href="404.html"><img src="assets/Fotos/Websites/Website(1).jpg" alt="hairequipe"></a>
    </div>
    <div class="element-item" data-category="transition">
        <a href="404.html"><img src="assets/Fotos/Websites/Website(2).jpg" alt="rekenmachine"></a>
    </div>
    <div class="element-item" data-category="transition">
        <a href="404.html"><img src="assets/Fotos/Websites/Website(3).jpg" alt="creativebe_at"></a>
    </div>
    <div class="element-item" data-category="transition">
        <a href="404.html"><img src="assets/Fotos/Websites/Website(4).jpg" alt="travelbird"></a>
    </div>
    <div class="element-item" data-category="transition">
        <a href="404.html"><img src="assets/Fotos/Websites/Website(9).jpg" alt="kluis"></a>
    </div>
    <div class="element-item" data-category="transition">
        <a href="404.html"><img src="assets/Fotos/Websites/Website(10).jpg" alt="de_leukste_gedichten"></a>
    </div>
    <div class="element-item" data-category="transition">
        <a href="404.html"><img src="assets/Fotos/Websites/Website(11).jpg" alt="nagelstudio"></a>
    </div>
    <div class="element-item" data-category="transition">
        <a href="404.html"><img src="assets/Fotos/Websites/Website(12).jpg" alt="portfolio_groen"></a>
    </div>
    <div class="element-item" data-category="transition">
        <a href="https://evalastersstudent.github.io/Top10SongsBelgium/"><img src="assets/Fotos/Websites/Website(5).jpg" alt="songs"></a>
    </div>
    <div class="element-item" data-category="transition">
        <a href="404.html"><img src="assets/Fotos/Websites/Website(6).jpg" alt="eames"></a>
    </div>
    <div class="element-item" data-category="transition">
        <a href="https://codepen.io/evalasters/full/pRoKmQ/"><img src="assets/Fotos/Websites/Website(7).jpg" alt="frans_leren"></a>
    </div>
    <div class="element-item" data-category="transition">
        <a href="404.html"><img src="assets/Fotos/Websites/Website(8).jpg" alt="museum_stukken"></a>
    </div>
    <div class="element-item" data-category="transition">
        <a href="https://codepen.io/evalasters/full/bgGqGX/"><img src="assets/Fotos/Websites/Website(13).jpg" alt="crossmediatechnologie3"></a>
    </div>
    <div class="element-item" data-category="transition">
        <a href="404.html"><img src="assets/Fotos/Websites/Website(14).jpg" alt="portfolio_paars"></a>
    </div>
    <div class="element-item" data-category="transition">
        <a href="https://evalastersstudent.github.io/Nieuwjaarsbrief/"><img src="assets/Fotos/Websites/Website(15).jpg" alt="nieuwjaarsbrief"></a>
    </div>
    <div class="element-item" data-category="transition">
        <a href="https://evalastersstudent.github.io/FeedbackFlamingo/"><img src="assets/Fotos/Websites/Website(16).jpg" alt="feedback_flamingo"></a>
    </div>
  </div>
</main>
