<header id="videosheader">
      <h1>Video's</h1>
      <h2><a href="index.html">Portfolio</a></h2>
      <nav>
            <ul>
                  <li><a href="portfolioFotografie.html">Fotografie</a></li>
                  <li><a href="portfolioPhotoshop.html">Photoshop</a></li>
                  <li><a href="portfolioDesign.html">Design</a></li>
                  <li><a href="portfolioC4D.html">Cinema 4D</a></li>
                  <li><a href="portfolioWebsites.html">Websites</a></li>
                  <li><a href="portfolioVideos.html">Video's</a></li>
            </ul>
      </nav>
</header>
<main id="videosmain">
  <div class="videosgrid">
    <div class="element-item" data-category="transition">
        <a href="https://youtu.be/6PhimtO6J70"><img src="assets/Fotos/Video/Video(1).jpg"></a>
    </div>
    <div class="element-item" data-category="transition">
        <a href="https://youtu.be/vB_vmB31Efs"><img src="assets/Fotos/Video/Video(2).jpg"></a>
    </div>
    <div class="element-item" data-category="transition">
        <a href="https://youtu.be/cjToBuS6Vz8"><img src="assets/Fotos/Video/Video(3).jpg"></a>
    </div>
    <div class="element-item" data-category="transition">
        <a href="https://youtu.be/K4FW1i6czHM"><img src="assets/Fotos/Video/Video(4).jpg"></a>
    </div>
    <div class="element-item" data-category="transition">
        <a href="https://youtu.be/q1f8PhhhA3U"><img src="assets/Fotos/Video/Video(5).jpg"></a>
    </div>
    <div class="element-item" data-category="transition">
        <a href="https://youtu.be/vhFqkOMWd6Q"><img src="assets/Fotos/Video/Video(6).jpg"></a>
    </div>
    <div class="element-item" data-category="transition">
        <a href="https://youtu.be/s6yfpXOrXtk"><img src="assets/Fotos/Video/Video(7).jpg"></a>
    </div>
    <div class="element-item" data-category="transition">
        <a href="https://youtu.be/7KwqgDTD7dk"><img src="assets/Fotos/Video/Video(8).jpg"></a>
    </div>
    <div class="element-item" data-category="transition">
        <a href="https://youtu.be/xSrIlRj5VyU"><img src="assets/Fotos/Video/Video(9).jpg"></a>
    </div>
  </div>
</main>
