<header class="photoshopheader">
      <h1>
            <a href="index.html">~ Portfolio ~ Eva Lasters ~</a>
      </h1>
</header>
<main class="photoshopmain">
      <div class="grid">
            <div class="grid-item"><img src="assets/Fotos/Photoshop(1).jpg"></div>
            <div class="grid-item"><img src="assets/Fotos/Photoshop(2).jpg"></div>
            <div class="grid-item"><img src="assets/Fotos/Photoshop(3).jpg"></div>
            <div class="grid-item"><img src="assets/Fotos/Photoshop(4).jpg"></div>
            <div class="grid-item"><img src="assets/Fotos/Photoshop(5).jpg"></div>
            <div class="grid-item"><img src="assets/Fotos/Photoshop(6).jpg"></div>
            <div class="grid-item"><img src="assets/Fotos/Photoshop(7).jpg"></div>
            <div class="grid-item"><img src="assets/Fotos/Photoshop(8).jpg"></div>
            <div class="grid-item"><img src="assets/Fotos/Photoshop(9).jpg"></div>
            <div class="grid-item"><img src="assets/Fotos/Photoshop(10).jpg"></div>
            <div class="grid-item"><img src="assets/Fotos/Photoshop(11).jpg"></div>
            <div class="grid-item"><img src="assets/Fotos/Photoshop(12).jpg"></div>
            <div class="grid-item"><img src="assets/Fotos/Photoshop(13).jpg"></div>
            <div class="grid-item"><img src="assets/Fotos/Photoshop(14).jpg"></div>
            <div class="grid-item"><img src="assets/Fotos/Photoshop(15).jpg"></div>
            <div class="grid-item"><img src="assets/Fotos/Photoshop(16).jpg"></div>
            <div class="grid-item"><img src="assets/Fotos/Photoshop(17).jpg"></div>
      </div>
</main>
<footer class="photoshopfooter">
      <p>
            ~ Copyright &copy 2016 ~ Eva Lasters ~
      </p>
</footer>
