<header id="c4dheader">
      <h1>Cinema 4D</h1>
      <h2><a href="index.html">Portfolio</a></h2>
      <nav>
            <ul>
                  <li><a href="portfolioFotografie.html">Fotografie</a></li>
                  <li><a href="portfolioPhotoshop.html">Photoshop</a></li>
                  <li><a href="portfolioDesign.html">Design</a></li>
                  <li><a href="portfolioC4D.html">Cinema 4D</a></li>
                  <li><a href="portfolioWebsites.html">Websites</a></li>
                  <li><a href="portfolioVideos.html">Video's</a></li>
            </ul>
      </nav>
</header>
<main id="c4dmain">
  <div class="c4dgrid">
    <div class="element-item" data-category="transition">
        <img src="assets/Fotos/C4D/C4D(1).jpg" alt="blikjes">
    </div>
    <div class="element-item" data-category="transition">
        <img src="assets/Fotos/C4D/C4D(2).jpg" alt="gummybeer">
    </div>
    <div class="element-item" data-category="transition">
        <img src="assets/Fotos/C4D/C4D(3).jpg" alt="hopla">
    </div>
    <div class="element-item" data-category="transition">
        <img src="assets/Fotos/C4D/C4D(4).jpg" alt="chipszakje">
    </div>
    <div class="element-item" data-category="transition">
        <img src="assets/Fotos/C4D/C4D(5).jpg" alt="wekker">
    </div>
    <div class="element-item" data-category="transition">
        <img src="assets/Fotos/C4D/C4D(6).jpg" alt="woonkamer">
    </div>
  </div>
</main>
