<header id="fotografieheader">
      <h1>Fotografie</h1>
      <h2><a href="index.html">Portfolio</a></h2>
      <nav>
            <ul>
                  <li><a href="portfolioFotografie.html">Fotografie</a></li>
                  <li><a href="portfolioPhotoshop.html">Photoshop</a></li>
                  <li><a href="portfolioDesign.html">Design</a></li>
                  <li><a href="portfolioC4D.html">Cinema 4D</a></li>
                  <li><a href="portfolioWebsites.html">Websites</a></li>
                  <li><a href="portfolioVideos.html">Video's</a></li>
            </ul>
      </nav>
</header>
<main id="fotografiemain">
  <div class="fotografiegrid">
    <div class="element-item" data-category="transition">
        <img src="assets/Fotos/Fotografie/Fotografie(1).jpg">
    </div>
    <div class="element-item" data-category="transition">
        <img src="assets/Fotos/Fotografie/Fotografie(2).jpg">
    </div>
    <div class="element-item" data-category="transition">
        <img src="assets/Fotos/Fotografie/Fotografie(3).jpg">
    </div>
    <div class="element-item" data-category="transition">
        <img src="assets/Fotos/Fotografie/Fotografie(4).jpg">
    </div>
    <div class="element-item" data-category="transition">
        <img src="assets/Fotos/Fotografie/Fotografie(5).jpg">
    </div>
    <div class="element-item" data-category="transition">
        <img src="assets/Fotos/Fotografie/Fotografie(6).jpg">
    </div>
    <div class="element-item" data-category="transition">
        <img src="assets/Fotos/Fotografie/Fotografie(7).jpg">
    </div>
    <div class="element-item" data-category="transition">
        <img src="assets/Fotos/Fotografie/Fotografie(8).jpg">
    </div>
    <div class="element-item" data-category="transition">
        <img src="assets/Fotos/Fotografie/Fotografie(9).jpg">
    </div>
    <div class="element-item" data-category="transition">
        <img src="assets/Fotos/Fotografie/Fotografie(10).jpg">
    </div>
    <div class="element-item" data-category="transition">
        <img src="assets/Fotos/Fotografie/Fotografie(11).jpg">
    </div>
    <div class="element-item" data-category="transition">
        <img src="assets/Fotos/Fotografie/Fotografie(12).jpg">
    </div>
    <div class="element-item" data-category="transition">
        <img src="assets/Fotos/Fotografie/Fotografie(13).jpg">
    </div>
    <div class="element-item" data-category="transition">
        <img src="assets/Fotos/Fotografie/Fotografie(14).jpg">
    </div>
    <div class="element-item" data-category="transition">
        <img src="assets/Fotos/Fotografie/Fotografie(15).jpg">
    </div>
    <div class="element-item" data-category="transition">
        <img src="assets/Fotos/Fotografie/Fotografie(16).jpg">
    </div>
    <div class="element-item" data-category="transition">
        <img src="assets/Fotos/Fotografie/Fotografie(17).jpg">
    </div>
    <div class="element-item" data-category="transition">
        <img src="assets/Fotos/Fotografie/Fotografie(18).jpg">
    </div>
    <div class="element-item" data-category="transition">
        <img src="assets/Fotos/Fotografie/Fotografie(19).jpg">
    </div>
    <div class="element-item" data-category="transition">
        <img src="assets/Fotos/Fotografie/Fotografie(20).jpg">
    </div>
    <div class="element-item" data-category="transition">
        <img src="assets/Fotos/Fotografie/Fotografie(21).jpg">
    </div>
    <div class="element-item" data-category="transition">
        <img src="assets/Fotos/Fotografie/Fotografie(22).jpg">
    </div>
    <div class="element-item" data-category="transition">
        <img src="assets/Fotos/Fotografie/Fotografie(23).jpg">
    </div>
    <div class="element-item" data-category="transition">
        <img src="assets/Fotos/Fotografie/Fotografie(24).jpg">
    </div>
    <div class="element-item" data-category="transition">
        <img src="assets/Fotos/Fotografie/Fotografie(25).jpg">
    </div>
    <div class="element-item" data-category="transition">
        <img src="assets/Fotos/Fotografie/Fotografie(26).jpg">
    </div>
    <div class="element-item" data-category="transition">
        <img src="assets/Fotos/Fotografie/Fotografie(27).jpg">
    </div>
    <div class="element-item" data-category="transition">
        <img src="assets/Fotos/Fotografie/Fotografie(28).jpg">
    </div>
    <div class="element-item" data-category="transition">
        <img src="assets/Fotos/Fotografie/Fotografie(29).jpg">
    </div>
    <div class="element-item" data-category="transition">
        <img src="assets/Fotos/Fotografie/Fotografie(30).jpg">
    </div>
    <div class="element-item" data-category="transition">
        <img src="assets/Fotos/Fotografie/Fotografie(31).jpg">
    </div>
    <div class="element-item" data-category="transition">
        <img src="assets/Fotos/Fotografie/Fotografie(32).jpg">
    </div>
    <div class="element-item" data-category="transition">
        <img src="assets/Fotos/Fotografie/Fotografie(33).jpg">
    </div>
    <div class="element-item" data-category="transition">
        <img src="assets/Fotos/Fotografie/Fotografie(34).jpg">
    </div>
    <div class="element-item" data-category="transition">
        <img src="assets/Fotos/Fotografie/Fotografie(35).jpg">
    </div>
    <div class="element-item" data-category="transition">
        <img src="assets/Fotos/Fotografie/Fotografie(36).jpg">
    </div>
    <div class="element-item" data-category="transition">
        <img src="assets/Fotos/Fotografie/Fotografie(37).jpg">
    </div>
    <div class="element-item" data-category="transition">
        <img src="assets/Fotos/Fotografie/Fotografie(38).jpg">
    </div>
  </div>
</main>
