<main class="fotografiemain">
      <div class="grid">
            <div class="grid-item"><img src="assets/Fotos/Fotografie(1).jpg"></div>
            <div class="grid-item"><img src="assets/Fotos/Fotografie(2).jpg"></div>
            <div class="grid-item"><img src="assets/Fotos/Fotografie(3).jpg"></div>
            <div class="grid-item"><img src="assets/Fotos/Fotografie(4).jpg"></div>
            <div class="grid-item"><img src="assets/Fotos/Fotografie(5).jpg"></div>
            <div class="grid-item"><img src="assets/Fotos/Fotografie(6).jpg"></div>
            <div class="grid-item"><img src="assets/Fotos/Fotografie(7).jpg"></div>
            <div class="grid-item"><img src="assets/Fotos/Fotografie(8).jpg"></div>
            <div class="grid-item"><img src="assets/Fotos/Fotografie(9).jpg"></div>
            <div class="grid-item"><img src="assets/Fotos/Fotografie(10).jpg"></div>
            <div class="grid-item"><img src="assets/Fotos/Fotografie(11).jpg"></div>
            <div class="grid-item"><img src="assets/Fotos/Fotografie(12).jpg"></div>
            <div class="grid-item"><img src="assets/Fotos/Fotografie(13).jpg"></div>
            <div class="grid-item"><img src="assets/Fotos/Fotografie(14).jpg"></div>
            <div class="grid-item"><img src="assets/Fotos/Fotografie(15).jpg"></div>
            <div class="grid-item"><img src="assets/Fotos/Fotografie(16).jpg"></div>
            <div class="grid-item"><img src="assets/Fotos/Fotografie(17).jpg"></div>
            <div class="grid-item"><img src="assets/Fotos/Fotografie(18).jpg"></div>
            <div class="grid-item"><img src="assets/Fotos/Fotografie(19).jpg"></div>
            <div class="grid-item"><img src="assets/Fotos/Fotografie(20).jpg"></div>
            <div class="grid-item"><img src="assets/Fotos/Fotografie(21).jpg"></div>
            <div class="grid-item"><img src="assets/Fotos/Fotografie(22).jpg"></div>
            <div class="grid-item"><img src="assets/Fotos/Fotografie(23).jpg"></div>
            <div class="grid-item"><img src="assets/Fotos/Fotografie(24).jpg"></div>
            <div class="grid-item"><img src="assets/Fotos/Fotografie(25).jpg"></div>
            <div class="grid-item"><img src="assets/Fotos/Fotografie(26).jpg"></div>
            <div class="grid-item"><img src="assets/Fotos/Fotografie(27).jpg"></div>
            <div class="grid-item"><img src="assets/Fotos/Fotografie(28).jpg"></div>
            <div class="grid-item"><img src="assets/Fotos/Fotografie(29).jpg"></div>
            <div class="grid-item"><img src="assets/Fotos/Fotografie(30).jpg"></div>
            <div class="grid-item"><img src="assets/Fotos/Fotografie(31).jpg"></div>
            <div class="grid-item"><img src="assets/Fotos/Fotografie(32).jpg"></div>
            <div class="grid-item"><img src="assets/Fotos/Fotografie(33).jpg"></div>
            <div class="grid-item"><img src="assets/Fotos/Fotografie(34).jpg"></div>
            <div class="grid-item"><img src="assets/Fotos/Fotografie(35).jpg"></div>
            <div class="grid-item"><img src="assets/Fotos/Fotografie(36).jpg"></div>
            <div class="grid-item"><img src="assets/Fotos/Fotografie(37).jpg"></div>
            <div class="grid-item"><img src="assets/Fotos/Fotografie(38).jpg"></div>
      </div>
</main>
