<main class="fotografiemain">
      <div class="grid">
            <div class="grid-item"><img src="assets/Fotos/Fotografie(1).jpg"></div>
            <div class="grid-item"><img src="assets/Fotos/Fotografie(2).JPG"></div>
            <div class="grid-item"><img src="assets/Fotos/Fotografie(3).jpg"></div>
            <div class="grid-item"><img src="assets/Fotos/Fotografie(4).jpg"></div>
            <div class="grid-item"><img src="assets/Fotos/Fotografie(5).jpg"></div>
            <div class="grid-item"><img src="assets/Fotos/Fotografie(6).JPG"></div>
            <div class="grid-item"><img src="assets/Fotos/Fotografie(7).JPG"></div>
            <div class="grid-item"><img src="assets/Fotos/Fotografie(8).jpg"></div>
            <div class="grid-item"><img src="assets/Fotos/Fotografie(9).jpg"></div>
            <div class="grid-item"><img src="assets/Fotos/Fotografie(10).jpg"></div>
            <div class="grid-item"><img src="assets/Fotos/Fotografie(11).jpg"></div>
            <div class="grid-item"><img src="assets/Fotos/Fotografie(12).jpg"></div>
            <div class="grid-item"><img src="assets/Fotos/Fotografie(13).jpg"></div>
            <div class="grid-item"><img src="assets/Fotos/Fotografie(14).jpg"></div>
            <div class="grid-item"><img src="assets/Fotos/Fotografie(15).jpg"></div>
            <div class="grid-item"><img src="assets/Fotos/Fotografie(16).jpg"></div>
            <div class="grid-item"><img src="assets/Fotos/Fotografie(17).jpg"></div>
            <div class="grid-item"><img src="assets/Fotos/Fotografie(18).jpg"></div>
            <div class="grid-item"><img src="assets/Fotos/Fotografie(19).jpg"></div>
            <div class="grid-item"><img src="assets/Fotos/Fotografie(20).jpg"></div>
            <div class="grid-item"><img src="assets/Fotos/Fotografie(21).JPG"></div>
            <div class="grid-item"><img src="assets/Fotos/Fotografie(22).JPG"></div>
            <div class="grid-item"><img src="assets/Fotos/Fotografie(23).JPG"></div>
            <div class="grid-item"><img src="assets/Fotos/Fotografie(24).JPG"></div>
            <div class="grid-item"><img src="assets/Fotos/Fotografie(25).JPG"></div>
            <div class="grid-item"><img src="assets/Fotos/Fotografie(26).JPG"></div>
            <div class="grid-item"><img src="assets/Fotos/Fotografie(27).JPG"></div>
            <div class="grid-item"><img src="assets/Fotos/Fotografie(28).JPG"></div>
            <div class="grid-item"><img src="assets/Fotos/Fotografie(29).JPG"></div>
            <div class="grid-item"><img src="assets/Fotos/Fotografie(30).JPG"></div>
            <div class="grid-item"><img src="assets/Fotos/Fotografie(31).JPG"></div>
            <div class="grid-item"><img src="assets/Fotos/Fotografie(32).JPG"></div>
            <div class="grid-item"><img src="assets/Fotos/Fotografie(33).jpg"></div>
            <div class="grid-item"><img src="assets/Fotos/Fotografie(34).jpg"></div>
            <div class="grid-item"><img src="assets/Fotos/Fotografie(35).jpg"></div>
            <div class="grid-item"><img src="assets/Fotos/Fotografie(36).JPG"></div>
            <div class="grid-item"><img src="assets/Fotos/Fotografie(37).JPG"></div>
            <div class="grid-item"><img src="assets/Fotos/Fotografie(38).JPG"></div>
      </div>
</main>
