<main class="photoshopmain">
      <div class="grid">
            <div class="grid-item"><img src="assets/Fotos/Photoshop(1).jpg"></div>
            <div class="grid-item"><img src="assets/Fotos/Photoshop(2).jpg"></div>
            <div class="grid-item grid-item--width2"><img src="assets/Fotos/Photoshop(19).jpg"></div>
            <div class="grid-item grid-item--height2"><img src="assets/Fotos/Photoshop(32).jpg"></div>
            <div class="grid-item"><img src="assets/Fotos/Photoshop(3).jpg"></div>
            <div class="grid-item"><img src="assets/Fotos/Photoshop(4).jpg"></div>
            <div class="grid-item"><img src="assets/Fotos/Photoshop(5).jpg"></div>
            <div class="grid-item"><img src="assets/Fotos/Photoshop(6).jpg"></div>
            <div class="grid-item"><img src="assets/Fotos/Photoshop(7).jpg"></div>
            <div class="grid-item grid-item--width2"><img src="assets/Fotos/Photoshop(21).jpg"></div>
            <div class="grid-item"><img src="assets/Fotos/Photoshop(8).jpg"></div>
            <div class="grid-item grid-item--height2"><img src="assets/Fotos/Photoshop(27).jpg"></div>
            <div class="grid-item"><img src="assets/Fotos/Photoshop(9).jpg"></div>
            <div class="grid-item"><img src="assets/Fotos/Photoshop(10).jpg"></div>
            <div class="grid-item"><img src="assets/Fotos/Photoshop(11).jpg"></div>
            <div class="grid-item"><img src="assets/Fotos/Photoshop(12).jpg"></div>
            <div class="grid-item"><img src="assets/Fotos/Photoshop(13).jpg"></div>
            <div class="grid-item"><img src="assets/Fotos/Photoshop(14).jpg"></div>
            <div class="grid-item grid-item--width2"><img src="assets/Fotos/Photoshop(22).jpg"></div>
            <div class="grid-item"><img src="assets/Fotos/Photoshop(15).jpg"></div>
            <div class="grid-item grid-item--height2"><img src="assets/Fotos/Photoshop(23).jpg"></div>
            <div class="grid-item"><img src="assets/Fotos/Photoshop(16).jpg"></div>
            <div class="grid-item"><img src="assets/Fotos/Photoshop(17).jpg"></div>
            <div class="grid-item"><img src="assets/Fotos/Photoshop(18).jpg"></div>
            <div class="grid-item grid-item--width2"><img src="assets/Fotos/Photoshop(24).jpg"></div>
            <div class="grid-item grid-item--height2"><img src="assets/Fotos/Photoshop(25).jpg"></div>
            <div class="grid-item grid-item--width2"><img src="assets/Fotos/Photoshop(26).jpg"></div>
            <div class="grid-item grid-item--width2"><img src="assets/Fotos/Photoshop(29).jpg"></div>
            <div class="grid-item grid-item--width2"><img src="assets/Fotos/Photoshop(30).jpg"></div>
            <div class="grid-item grid-item--width2"><img src="assets/Fotos/Photoshop(20).jpg"></div>
            <div class="grid-item"><img src="assets/Fotos/Photoshop(28).jpg"></div>
            <div class="grid-item grid-item--height2"><img src="assets/Fotos/Photoshop(31).jpg"></div>
      </div>
</main>
