.gu-mirror {
      position: fixed !important;
      margin: 0 !important;
      z-index: 9999 !important;
      opacity: 0.8;
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
      filter: alpha(opacity=80);
}
.gu-hide {
      display: none !important;
}
.gu-unselectable {
      -webkit-user-select: none !important;
      -moz-user-select: none !important;
      -ms-user-select: none !important;
      user-select: none !important;
}
.gu-transit {
      opacity: 0.2;
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
      filter: alpha(opacity=20);
}
.verplaatsen > div {
      cursor: move;
      cursor: grab;
      cursor: -moz-grab;
      cursor: -webkit-grab;
}
.gu-mirror {
      cursor: grabbing;
      cursor: -moz-grabbing;
      cursor: -webkit-grabbing;
}

body {
      margin: 0% auto;
      width: 100%;
      box-sizing: border-box;
      font-family: 'News Cycle', sans-serif;
      background-image: url("https://s-media-cache-ak0.pinimg.com/originals/7f/ac/02/7fac02147d57951d4cb8f97afae3ab86.jpg");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      background-attachment: fixed;
}
.navigatiebalk {
      width: 90%;
      background-color: black;
      color: white;
      padding: 1.5% 5% 1.5% 5%;
      clear: both;
      position: fixed;
      top: 0;
}
h1 {
      float: left;
      font-size: 2em;
}
.navigatiebalk h1 img {
      width: 2.5%;
      transform: rotate(-45deg);
      margin: -1% 1% 1% 0%;
}
nav {
      float: right;
      width: 75%;
      text-align: right;
      margin: -1.25% auto;
}
a {
      margin: -2% 2.5%;
      color: white;
      text-decoration: none;
}
div span a {
      display: block;
}
#Frans {
      position: fixed;
      top: 65px;
      left: 750px;
}
.fransonzichtbaar {
      display: none;
}
#fransjes {
      background-color: black;
      position: fixed;
      top: 60px;
      left: 770px;
      width: 115px;
      text-align: left;
      line-height: 1.25em;
      padding: 0% 1% 1% 1%;
}
#Rekenen {
      position: fixed;
      top: 65px;
      left: 900px;
}
.rekenenonzichtbaar {
      display: none;
}
#rekentjes {
      background-color: black;
      position: fixed;
      top: 60px;
      left: 916px;
      width: 135px;
      text-align: left;
      line-height: 1.25em;
      padding: 0% 1% 1% 1%;
}
#Taal {
      position: fixed;
      top: 65px;
      left: 1075px;
}
.taalonzichtbaar {
      display: none;
}
#taaltjes {
      background-color: black;
      position: fixed;
      top: 60px;
      left: 1094px;
      width: 105px;
      text-align: left;
      line-height: 1.25em;
      padding: 0% 1% 1% 1%;
}
h2 {
      text-align: left;
      margin: 0px auto;
      font-size: 3em;
      line-height: normal;
}
h3 {
      text-align: left;
      margin: 0px auto 10px auto;
      font-size: 1.25em;
      line-height: 1em;
      font-style: italic;
}
#Oefening1, #Oefening2, #Oefening3, #Oefening4, #Oefening5, #Oefening6, #Oefening7, #Oefening8, #Oefening9 {
      padding: 6% 0% 0% 0%;
      margin: 0% auto;
      text-align: center;
      width: 75%;
}
#Oefening9 {
      margin: 0% auto 5% auto;
}
.wrapper {
      display: table;
      width: 100%;
      background-color: rgba(0, 255, 0, 0.5);
      border-radius: 5px;
}
.container {
      display: table-cell;
      width: 50%;
      border-radius: 5px;
}
.links {
      text-align: right;
}
.rechts {
      text-align: left;
}
.center {
      text-align: center;
}
.container div {
      margin: 10px;
      padding: 7.5px;
      border-radius: 5px;
}
.container > div, .gu-mirror {
      background-color: rgba(255, 0, 150, 0.75);
      transition: opacity 0.4s ease-in-out;
      color: white;
      font-size: 1.25em;
      font-weight: 400;
}
#Oefening3 .wrapper .container div .Weinigplaats, #Oefening8 .wrapper .container div .Weinigplaats {
      display: none;
}
#Oefening8 .wrapper .links {
      width: 80%;
}
#Oefening8 .wrapper .rechts {
      width: 20%
}

@media screen and (max-width: 1300px) {
      #Frans {
            top: 50px;
            left: 600px;
      }
      #Rekenen {
            top: 50px;
            left: 750px;
      }
      #Taal {
            top: 50px;
            left: 925px;
      }
      #fransjes {
            top: 50px;
            left: 617px;
      }
      #rekentjes {
            top: 50px;
            left: 766px;
      }
      #taaltjes {
            top: 50px;
            left: 941px;
      }
}
@media screen and (max-width: 1100px) {
      h1 {
            font-size: 1.5em;
      }
      #Frans {
            top: 40px;
            left: 500px;
      }
      #Rekenen {
            top: 40px;
            left: 650px;
      }
      #Taal {
            top: 40px;
            left: 825px;
      }
      #fransjes {
            top: 45px;
            left: 512px;
      }
      #rekentjes {
            top: 45px;
            left: 662px;
      }
      #taaltjes {
            top: 45px;
            left: 840px;
      }
}
@media screen and (max-width: 995px) {
      h1 {
            font-size: 1.25em;
      }
      #Frans {
            top: 35px;
            left: 200px;
      }
      #Rekenen {
            top: 35px;
            left: 350px;
      }
      #Taal {
            top: 35px;
            left: 525px;
      }
      #fransjes {
            top: 40px;
            left: 212px;
      }
      #rekentjes {
            top: 40px;
            left: 362px;
      }
      #taaltjes {
            top: 40px;
            left: 538px;
      }
      .navigatiebalk h1 .Veelplaats {
            display: none;
      }
}
@media screen and (max-width: 850px) {
      #Oefening8 .wrapper .container div .WP1 {
            display: block;
      }
}
@media screen and (max-width: 730px) {
      #Frans, #Rekenen, #Taal {
            top: 25px;
      }
      #fransjes {
            left: 208px;
      }
      #rekentjes {
            left: 358px;
      }
      #taaltjes {
            left: 534px;
      }
}
@media screen and (max-width: 680px) {
      #Frans, #Rekenen, #Taal, #fransjes, #rekentjes, #taaltjes {
            font-size: 0.85em;
      }
      #Rekenen {
            left: 305px;
      }
      #Taal {
            left: 425px;
      }
      #fransjes {
            top: 35px;
            width: 95px;
      }
      #rekentjes {
            top: 35px;
            left: 312px;
            width: 115px;
      }
      #taaltjes {
            top: 35px;
            left: 432px;
            width: 90px;
      }
      .container div {
            margin: 7.5px;
      }
}
@media screen and (max-width: 555px) {
      .navigatiebalk h1 {
            display: none;
            float: none;
      }
      .navigatiebalk {
            padding: 5% 5% 4% 5%;
      }
      nav {
            float: none;
            text-align: center;
      }
      #Frans {
            left: 50px;
      }
      #Rekenen {
            left: 200px;
      }
      #Taal {
            left: 375px;
      }
      .fransechtonzichtbaar, .rekenenechtonzichtbaar, .taalechtonzichtbaar {
            display: none;
            visibility: hidden;
      }
      #Oefening1, #Oefening2, #Oefening3, #Oefening4, #Oefening5, #Oefening6, #Oefening7, #Oefening8, #Oefening9, #Oefening10, #Oefening11, #Oefening12 {
            padding: 10% 0% 0% 0%;
      }
      h2 {
            font-size: 2.5em;
      }
}
@media screen and (max-width: 515px) {
      #Oefening4 .wrapper .container div, #Oefening5 .wrapper .container div,
      #Oefening6 .wrapper .container div, #Oefening7 .wrapper .container div,
      #Oefening8 .wrapper .container div, #Oefening9 .wrapper .container div {
            font-size: 1em;
      }
}
@media screen and (max-width: 500px) {
      #Frans {
            left: 50px;
      }
      #Rekenen {
            left: 175px;
      }
      #Taal {
            left: 325px;
      }
}
@media screen and (max-width: 450px) {
      #Frans {
            left: 25px;
      }
      #Rekenen {
            left: 140px;
      }
      #Taal {
            left: 275px;
      }
      #Oefening3 .wrapper .container div {
            font-size: 1em;
      }
      h2 {
            font-size: 2em;
      }
      h3 {
            font-size: 1em;
      }
}
@media screen and (max-width: 430px) {
      .container div {
            margin: 5px;
      }
}
@media screen and (max-width: 416px) {
      #Oefening8 .wrapper .container div {
            font-size: 0.85em;
      }
}
@media screen and (max-width: 400px) {
      #Frans, #Rekenen, #Taal {
            font-size: 0.75em;
            top: 20px;
      }
      #Frans {
            left: 60px;
      }
      #Rekenen {
            left: 160px;
      }
      #Taal {
            left: 275px;
      }
      #Oefening2 .wrapper .container div {
            font-size: 1em;
      }
      .navigatiebalk nav a .Veelplaats {
            display: none;
      }
}
@media screen and (max-width: 375px) {
      #Oefening3 .wrapper .container div {
            font-size: 0.85em;
      }
}
@media screen and (max-width: 367px) {
      #Oefening8 .wrapper .container div .WP2 {
            display: block;
      }
}
@media screen and (max-width: 360px) {
      #Frans, #Rekenen, #Taal {
            font-size: 0.75em;
            top: 15px;
      }
      #Frans {
            left: 40px;
      }
      #Rekenen {
            left: 140px;
      }
      #Taal {
            left: 255px;
      }
      #Oefening1 .wrapper .container div {
            font-size: 1em;
      }
      h2 {
            font-size: 1.5em;
      }
      h3 {
            font-size: 0.85em;
      }
}
@media screen and (max-width: 340px) {
      #Oefening8 .wrapper .container div .WP3 {
            display: block;
      }
}
@media screen and (max-width: 331px) {
      .navigatiebalk {
            padding: 5% 5% 7.5% 5%;
      }
      #Oefening1 .wrapper .container div, #Oefening2 .wrapper .container div {
            font-size: 0.85em;
      }
}
@media screen and (max-width: 312px) {
      #Oefening4 .wrapper .container div, #Oefening5 .wrapper .container div,
      #Oefening6 .wrapper .container div, #Oefening7 .wrapper .container div,
      #Oefening9 .wrapper .container div {
            font-size: 0.85em;
      }
      #Oefening8 .wrapper .container div {
            font-size: 0.75em;
      }
}
@media screen and (max-width: 311px) {
      #Oefening3 .wrapper .container div .WP1, #Oefening3 .wrapper .container div .WP2 {
            display: block;
      }
}
@media screen and (max-width: 302px) {
      #Oefening3 .wrapper .container div .WP3 {
            display: block;
      }
      #Frans {
            left: 30px;
      }
      #Rekenen {
            left: 115px;
      }
      #Taal {
            left: 215px;
      }
}
@media screen and (max-width: 292px) {
      #Oefening3 .wrapper .container div .WP4 {
            display: block;
      }
}
